

<div class="mx-10">
            
    <button onclick="toggleCollapse()" class="border border-maincolor text-maincolor hover:bg-maincolor hover:text-white hover:border-white px-4 rounded-lg mx-[5px] h-[35px] text-center flex flex-row items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>

        ADD PRODUCT
    </button>

<div class="flex items-center justify-center h-screen">
    <div id="collapsible" class="hidden mt-4">
        <div class="bg-white p-8 rounded shadow-md w-96">
    <h1 class="text-2xl font-semibold mb-4">Product Information</h1>


    <form action="/addProduct" method="POST" enctype="multipart/form-data">
        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-600">Name</label>
            <input type="text" id="name" name="name" class="mt-1 p-2 w-full border rounded">
        </div>

        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-600">Description</label>
            <textarea rows="10" cols="100" id="description" name="description" class="mt-1 p-2 w-full border rounded"></textarea>
        </div>

        <div class="mb-4">
            <label for="type" class="block text-sm font-medium text-gray-600">Type</label>
            <select id="type" name="type" class="mt-1 p-2 w-full border rounded">
                <option value="welding">Welding</option>
                <option value="safety">Safety</option>
                <option value="cleaning">Cleaning</option>
                <option value="industrial">Industrial</option>
                <option value="brassfittings">Brass Fittings</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="quantity" class="block text-sm font-medium text-gray-600">Quantity</label>
            <input type="number" id="quantity" name="quantity" class="mt-1 p-2 w-full border rounded">
        </div>

        <div class="mb-6">
            <label for="price" class="block text-sm font-medium text-gray-600">Price</label>
            <input type="number" id="price" name="price" class="mt-1 p-2 w-full border rounded">
          </div>
      
        <div class = "attachmedia">
            <label for="formFile" class="block text-sm font-medium text-gray-600">Product Picture</label>
            <input class="form-control" type="file" name="productPic" id="formFile" accept = "image/*" >
        </div>

      <button type="submit" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-700">Add</button>
    </form>
  </div>
    </div> 
</div>
</div>


<script>
    function toggleCollapse() {
        const collapsible = document.getElementById('collapsible');
        collapsible.style.display = (collapsible.style.display === 'none' || collapsible.style.display === '') ? 'block' : 'none';
    }
</script>