<nav class="bg-maincolor">
    <div class=" max-w-full px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 justify-end">

            <div class="flex mt-0">
                <form action="/logout" method="GET">
                    <button type="submit"
                        class="w-auto h-12 px-4 bg-sky-600 hover:bg-white hover:pt-2 rounded-tl-lg rounded-tr-lg hover:text-maincolor text-white text-xl font-Inika mt-2">
                        <div class="flex flex-row items-center">
                            <img class="w-5 mr-2" src="../uploads/logout.png" alt="Logout Icon" />
                            Logout
                        </div>
                    </button>
                </form>
            </div>

        </div>
    </div>
</nav>