<nav class="bg-maincolor">
    <div class=" max-w-full px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex  mt-2">

                <form action="/admin" method="GET">
                    <button type="submit"
                        class="w-auto h-12 mt-0 px-4 bg-sky-600 hover:bg-white hover:pt-2 rounded-tl-lg rounded-tr-lg hover:text-maincolor text-white text-lg font-Inknut ml-auto mr-6">
                        <div class="flex flex-row items-center">
                            <img class="w-5 mr-2" src="../uploads/backto.png" alt="Back Icon" />
                            Back to Admin Home
                        </div>
                    </button>
                </form>
            </div>



        </div>
    </div>
</nav>