<div class="max-w-full h-1/2 py-10 mx-5 bg-white bg-opacity-80 p-5 shadow-md rounded-md">

    <div class="flex flex-row space-x-3">

        <div class=" h-[404px] w-8/12 relative bg-white inline-block">
            <img class="w-full h-[404px] left-0 top-0 absolute shadow-inner" src="../uploads/weldingImg.png" />
            <div class="w-[560px] left-[34px] top-[312px] absolute text-white text-5xl font-normal font-Inika">
                Welding Supplies</div>
        </div>

        <div class="flex flex-col space-y-7 w-4/12">
            <div class=" w-full h-20 relative bg-white">
                <img class="w-full h-20 left-0 top-0 absolute shadow-inner" src="../uploads/safety.png" />
                <div class=" w-36 h-9 right-5 top-[4px] absolute text-white text-2xl font-normal font-Inika">
                    Safety
                    <br />Equipment
                </div>
            </div>

            <div class="w-full h-20 relative bg-white">
                <img class=" w-full h-20 left-0 top-0 absolute shadow-inner" src="../uploads/cleaning.png" />
                <div class=" w-36 h-9 right-5 top-[4px] absolute text-white text-2xl font-normal font-Inika">
                    Cleaning
                    <br />Supplies
                </div>
            </div>

            <div class="w-full h-20 relative bg-white">
                <img class=" w-full h-20 left-0 top-0 absolute shadow-inner" src="../uploads/industrial.png" />
                <div class=" w-36 h-9 right-5 top-[4px] absolute text-white text-2xl font-normal font-Inika">
                    Industrial
                    <br />Supplies
                </div>
            </div>

            <div class="w-full h-20 relative bg-white">
                <img class=" w-full h-20 left-0 top-0 absolute shadow-inner" src="../uploads/brass.png" />
                <div class=" w-36 h-9 right-5 top-[4px] absolute text-white text-2xl font-normal font-Inika">
                    Brass
                    <br />Fittings
                </div>
            </div>
        </div>

    </div>


<div class="mt-6 w-[75%]">
    <div class="my-5 py-1 pl-2 border-b-4 border-b-maincolor font-Inika text-2xl w-48">New Arrivals</div>

    <div class="grid grid-cols-4 gap-4">

        <div class="bg-tertiary w-[100%] h-[315px] flex-col">
            <img class="w-[227px] h-[212px] mx-auto my-2" src="../uploads/brassfitting.png">
            <div class="font-Inknut text-secondary text-[32px] text-center">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl text-center">Price</div>
        </div>

        <div class="bg-tertiary w-[100%] h-[315px] flex-col">
            <img class="w-[227px] h-[212px] mx-auto my-2" src="../uploads/brassfitting.png">
            <div class="font-Inknut text-secondary text-[32px] text-center">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl text-center">Price</div>
        </div>

        <div class="bg-tertiary w-[100%] h-[315px] flex-col">
            <img class="w-[227px] h-[212px] mx-auto my-2" src="../uploads/brassfitting.png">
            <div class="font-Inknut text-secondary text-[32px] text-center">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl text-center">Price</div>
        </div>
        
        <div class="bg-tertiary w-[100%] h-[315px] flex-col">
            <img class="w-[227px] h-[212px] mx-auto my-2" src="../uploads/brassfitting.png">
            <div class="font-Inknut text-secondary text-[32px] text-center">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl text-center">Price</div>
        </div>

        <div class="bg-tertiary w-[100%] h-[315px] flex-col">
            <img class="w-[227px] h-[212px] mx-auto my-2" src="../uploads/brassfitting.png">
            <div class="font-Inknut text-secondary text-[32px] text-center">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl text-center">Price</div>
        </div>       
        
        <div class="bg-tertiary w-[100%] h-[315px] flex-col">
            <img class="w-[227px] h-[212px] mx-auto my-2" src="../uploads/brassfitting.png">
            <div class="font-Inknut text-secondary text-[32px] text-center">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl text-center">Price</div>
        </div>        
        
        <div class="bg-tertiary w-[100%] h-[315px] flex-col">
            <img class="w-[227px] h-[212px] mx-auto my-2" src="../uploads/brassfitting.png">
            <div class="font-Inknut text-secondary text-[32px] text-center">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl text-center">Price</div>
        </div>      
        
        <div class="bg-tertiary w-[100%] h-[315px] flex-col">
            <img class="w-[227px] h-[212px] mx-auto my-2" src="../uploads/brassfitting.png">
            <div class="font-Inknut text-secondary text-[32px] text-center">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl text-center">Price</div>
        </div>

    </div>
</div>

<div class="mt-6 w-[100%]">
    <div class="my-5 py-1 pl-2 border-b-4 border-b-maincolor font-Inika text-2xl w-48">On Sale</div>

    <div class="grid grid-cols-2 gap-4">

    <div class="bg-tertiary w-[100%] h-[315px] flex items-start">
        <img class="w-auto h-[95%] mx-4 my-2 border-r-2 border-r-secondary border-opacity-50" src="../uploads/brassfitting.png">
        <div class="flex flex-col justify-start">
            <div class="font-Inknut text-secondary text-[32px] mt-5">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl">Price</div>
            <img class="w-auto h-[180px] mx-4 my-2" src="../uploads/giphy.gif">
        </div>
    </div>

    <div class="bg-tertiary w-[100%] h-[315px] flex items-start">
        <img class="w-auto h-[95%] mx-4 my-2 border-r-2 border-r-secondary border-opacity-50" src="../uploads/brassfitting.png">
        <div class="flex flex-col justify-start">
            <div class="font-Inknut text-secondary text-[32px] mt-5">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl">Price</div>
            <img class="w-auto h-[180px] mx-4 my-2" src="../uploads/giphy.gif">
        </div>
    </div>

    <div class="bg-tertiary w-[100%] h-[315px] flex items-start">
        <img class="w-auto h-[95%] mx-4 my-2 border-r-2 border-r-secondary border-opacity-50" src="../uploads/brassfitting.png">
        <div class="flex flex-col justify-start">
            <div class="font-Inknut text-secondary text-[32px] mt-5">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl">Price</div>
            <img class="w-auto h-[180px] mx-4 my-2" src="../uploads/giphy.gif">
        </div>
    </div>
        
    <div class="bg-tertiary w-[100%] h-[315px] flex items-start">
        <img class="w-auto h-[95%] mx-4 my-2 border-r-2 border-r-secondary border-opacity-50" src="../uploads/brassfitting.png">
        <div class="flex flex-col justify-start">
            <div class="font-Inknut text-secondary text-[32px] mt-5">Brass GHC</div>
            <div class="font-Inknut text-secondary text-2xl">Price</div>
            <img class="w-auto h-[180px] mx-4 my-2" src="../uploads/giphy.gif">
        </div>
    </div>

    </div>
</div>






</div>