<h1>Product Filter</h1>

<div class="filter-container">
<label class="filter-label">Price:</label>
<input type="number" class="filter-input" id="filter-price">
</div>

<div class="filter-container">
<label class="filter-label">Name:</label>
<input type="text" class="filter-input" id="filter-name">
</div>

<div class="filter-container">
<label class="filter-label">Quantity:</label>
<input type="number" class="filter-input" id="filter-quantity">
</div>

<button type="button" id="filter-button">Filter</button>
