<footer class="bg-maincolor text-white text-center py-4">
    <div class="container mx-auto">
        <div class="flex justify-between">

            <div>
                <div class="font-Inknut text-5xl">
                    Pearl Hardware
                </div>
                <div class="font-Inknut text-base">
                    Welding and Safety Supply Inc.
                </div>
                <div class="mt-4 text-base font-Inika">
                    Welcome to Pearl Hardware, your trusted source for top-quality hardware, welding, and safety
                    supplies.
                    We are committed to providing the finest products, prioritizing safety, and offering exceptional
                    service
                    to meet your needs. Contact us for assistance or visit our offices and warehouse. Thank you for
                    choosing
                    Pearl Hardware – your reliable partner in the industry.
                </div>
            </div>

            <div class="w-1/2 text-left font-Inika">
                <strong>Office:</strong><br>
                Eastern: 5310-8021, 5310-7071<br>
                PLDT: 8732-0013
            </div>
            <div class="w-1/2 text-right font-Inika">
                <strong>Warehouse:</strong><br>
                Globeline: 7119-6902<br>
                Globe: 0977 021 0388<br>
                Eastern: 5313-9105, 5313-9122<br>
                PLDT: 8743-2653, 8731-9556, 8731-7089, 8712-8246
            </div>
        </div>

        <hr class=" mt-4 w-[500px] h-1 mx-auto my-4 bg-gray-100 border-0">
        <div class="mt-4">
            <p class="font-Inika">
                © Copyright 2023 Pearl Hardware. All rights reserved.
            </p>
        </div>
    </div>


</footer>