<style>

        .footer {
            background-color: #ccc; /* Gray background color */
            padding: 20px;
            text-align: center;
            font-family: Arial, sans-serif;
        }

        .footer-text {
            color: #333; /* Text color */
        }

        .footer-left,
        .footer-right {
            display: inline-block;
            width: 50%;
            text-align: left;
        }

        .footer-right {
            text-align: right;
        }
    </style>


    <div class="footer table-footer-group">
        <div class="footer-left">
            <div class="footer-text">
                <strong>Office:</strong><br>
                Eastern: 5310-8021, 5310-7071<br>
                PLDT: 8732-0013
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-text">
                <strong>Warehouse:</strong><br>
                Globeline: 7119-6902<br>
                Globe: 0977 021 0388<br>
                Eastern: 5313-9105, 5313-9122<br>
                PLDT: 8743-2653, 8731-9556, 8731-7089, 8712-8246
            </div>
        </div>
    </div>