<div class="bg-maincolor max-w-7xl mx-auto rounded-lg p-5 mt-6 h-14">

    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex  items-center">
            <div class="flex space-x-10">
                <a href="#" class="text-white">Welding</a>
                <a href="#" class="text-white">Safety</a>
                <a href="#" class="text-white">Cleaning</a>
                <a href="#" class="text-white">Industrial</a>
                <a href="#" class="text-white">Brass Fittings</a>
            </div>
            <a href="#" class="text-white ml-auto">My Cart</a>
        </div>
    </div>

</div>

<div class="max-w-7xl mx-auto bg-white bg-opacity-80 p-5 shadow-md rounded-md">

    <div class="w-4/6">
        <img src="../uploads/weldingImg.png" alt="" srcset="">
    </div>



</div>