<div
    class="grid grid-cols-7 gap-40 bg-maincolor w-[97%] h-[46px] mt-2 items-center rounded-[10px_10px_0px_0px] mx-auto font-Inika text-white text-base font-bold">

    <div class="items-center ml-16">
        Product Image
    </div>
    <div class=" items-center mx-auto">
        Product Name</div>
    <div class=" items-center mx-auto">
        Category</div>
    <div class=" items-center mx-auto">
        Product Price</div>
    <div class=" items-center mx-auto">
        Current Stock</div>
    <div class=" items-center mx-auto">
        Show/Hide/Delete</div>
    <div class="items-center mr-8">
{{!--
    class="grid grid-cols-7 bg-maincolor w-[95%] h-[45px] flex flex-wrap items-center justify-start rounded-[10px_10px_0px_0px] mx-auto px-2 mt-5">

    <div class="font-Inknut text-white text-sm text-center border border-t-0 border-b-0 border-white">
        Product Image
    </div>
    <div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">
        Product Name</div>
    <div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">
        Category</div>
    <div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">
        Product Price</div>
    <div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">
        Current Stock</div>
    <div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">
        Show/Hide/Delete</div>
    <div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">
--}}
        Edit Product</div>
</div>