<div class="bg-maincolor w-[95%] h-[45px] mt-2 flex flex-auto items-center rounded-[10px_10px_0px_0px] mx-auto">
    <div class="font-Inknut text-white text-sm  border-white mx-auto">
        Product
        Image
    </div>
    <div class=" font-Inknut text-white text-sm  border-white mx-auto">
        Product Name</div>
    <div class="font-Inknut text-white text-sm  border-white mx-auto">
        Price</div>
    <div class="font-Inknut text-white text-sm  border-white mx-auto">
        Current Stock</div>
    <div class="font-Inknut text-white text-sm  border-white mx-auto">
        Show/Hide</div>

</div>