<div
    class="grid grid-cols-7 gap-40 bg-maincolor w-[97%] h-[46px] mt-2 items-center rounded-[10px_10px_0px_0px] mx-auto font-Inika text-white text-base font-bold">

    <div class="items-center ml-16">
        Product Image
    </div>
    <div class=" items-center mx-auto">
        Product Name</div>
    <div class=" items-center mx-auto">
        Category</div>
    <div class=" items-center mx-auto">
        Product Price</div>
    <div class=" items-center mx-auto">
        Current Stock</div>
    <div class=" items-center mx-auto">
        Show/Hide/Delete</div>
    <div class="items-center mr-8">
        Edit Product</div>

</div>