<div
    class="grid grid-cols-6 gap-44 bg-maincolor w-[95%] h-[45px] mt-2 items-center rounded-[10px_10px_0px_0px] mx-auto">

    <div class="items-center font-Inknut text-white text-sm  mx-auto">
        Product
        Image
    </div>
    <div class=" items-center font-Inknut text-white text-sm  mx-auto">
        Product Name</div>
    <div class=" items-center font-Inknut text-white text-sm  mx-auto">
        Product Price</div>
    <div class=" items-center font-Inknut text-white text-sm  mx-auto">
        Current Stock</div>
    <div class=" items-center font-Inknut text-white text-sm  mx-auto">
        Show/Hide/Delete</div>
    <div class="items-center font-Inknut text-white text-sm mx-auto">
        Edit Product</div>

</div>