<nav class="bg-maincolor">
    <div class=" max-w-full px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex space-x-10">
                <a href="/login" class="text-white font-Inika" id="regLog">Register/Login</a>
                <a href="#" class="text-white font-Inika" id="myAccount">My Account</a>

            </div>

            <div class="flex ml-auto">
                <img class="w-6 h-6 mr-2" src="../uploads/phone.png" />
                <a href="#" class="text-white font-Inika">Customer Support</a>
            </div>


        </div>
    </div>
</nav>