<nav class="bg-maincolor">
    <div class=" max-w-full px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex space-x-10">
                <a href="#" class="text-white">Register</a>
                <a href="#" class="text-white">My Account</a>

            </div>
            <a href="#" class="text-white ml-auto">Customer Support</a>
        </div>
    </div>
</nav>