		<div class=" grid grid-cols-9 bg-maincolor w-[95%] h-[45px] flex flex-wrap items-center justify-start rounded-[10px_10px_0px_0px] mx-auto px-2">
 	   		<div class=" font-Inknut text-white text-sm text-center border border-t-0 border-b-0 border-white">Order ID</div>
	    	<div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">First Name</div>
	    	<div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Last Name</div>
	    	<div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Email</div>
 	   		<div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Date</div>
	    	<div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Status</div>
 	   		<div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Amount</div>
 	   		<div class="font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Paymongo ID</div>
		</div>