		<div class="bg-maincolor w-[95%] h-[45px] flex flex-wrap items-center justify-start rounded-[10px_10px_0px_0px] mx-auto p-2">
 	   		<div class="w-[200px] font-Inknut text-white text-sm text-center border border-t-0 border-b-0 border-white">Order ID</div>
	    	<div class="w-[160px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">First Name</div>
	    	<div class="w-[160px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Last Name</div>
	    	<div class="w-[200px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Email</div>
 	   		<div class="w-[110px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Date</div>
	    	<div class="w-[198px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Status</div>
 	   		<div class="w-[110px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Amount</div>
 	   		<div class="w-[230px] mr-[90px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Paymongo ID</div>
		</div>