<div class="flex flex-col justify-center items-center h-300">
  <img src="../uploads/cover.png" class="object-cover w-full h-full" />
  <img src="../uploads/profpic.png" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-72 rounded-full" />
</div>