<div class="flex flex-col justify-center items-center h-86 bg-[url('../uploads/cover.png')]">
  <img src="../uploads/profpic.png" class=" w-72 rounded-full " />
</div>


<div class="container mx-auto mt-8 p-4 border border-4 border-secondary rounded-3xl">
  <!-- Your content goes here -->
  <h1 class="text-xl font-bold mb-4">Blue Outline Container</h1>
  <p>This is temporary.</p>
</div>