{{#if product}}
	<style>
		button.cart {
			position: relative;
			left: 50%;
			transform: translate(-50%);
			margin-top: 5px;
		}
		
	    .add{
			position: relative;
			left: 50%;
			transform: translate(-50%);
			margin-top: 5px;
		}
		
		button.cart i{
			background-color: gray;
			padding: 15px;
			border-radius: 50%;
		}
		
		i:hover{
			cursor: pointer;
		}
	</style>
	
	<script>
		console.log("Recieved product: ");
	</script>
	<div class="bg-tertiary rounded shadow p-4">
			<img class="h-44 w-44 mx-auto object-cover" src="./uploads/temp.png" alt="Product Image">
			<h2 class="text-xl font-semibold mt-2 text-center">{{product.name}}</h2>
			<p class="text-center mt-1">Php {{product.price}}</p>	
			
			<span class="add">quantity I know it's not centered I'm not front-end person!!</span>
			
			<form method="post" action="/add-to-cart" id="add" >
				<label for="quantity" class="add">Quantity</label>
				<input type="text" id="quantity" placeholder="0" class="add">
				<input type="hidden" id="p_id" value="{{product._id}}">
			</form>
			
			<button type="submit" id="submitBtn" class="cart"  form="add" disabled> <i class='bx bx-cart-alt'></i> </button>
			<p id="err"></p>
			
	</div>
{{else}}
	<h1>No product found!</h1>
{{/if}}