{{#if product}}
	<!--<style>
		button.cart {
			position: relative;
			left: 50%;
			transform: translate(-50%);
			margin-top: 5px;
		}
		
	    .add{
			position: relative;
			left: 50%;
			transform: translate(-50%);
			margin-top: 5px;
		}
		
		button.cart i{
			background-color: gray;
			padding: 15px;
			border-radius: 50%;
		}
		
		i:hover{
			cursor: pointer;
		}
	</style>-->

	<style>
  #originalBtn:hover {
      display: none;
  }
  #originalBtn:hover + #hoverBtn {
      display: flex;
  }
  #originalBtn, #hoverBtn {
    transition: opacity 0.3s ease;
}
</style>
	
	<script>
		console.log("Recieved product: ");
	</script>
	<div class="bg-white bg-opacity-80 p-5 rounded-md p-4 w-[98%] mx-auto my-auto" style="box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(0, 0, 0, 0.1);">

    <div class="bg-tertiary w-[60%] h-[315px] rounded-md mx-auto my-auto flex">
        <img class="w-auto h-[95%] mx-4 my-2 border-r-2 border-r-secondary border-opacity-50" src="./uploads/temp.png" alt="Product Image">

        <div class="flex flex-col justify-start">
            <h2 class="font-Inknut text-secondary text-[32px] mt-5">{{product.name}}</h2>
            <p class="font-Inknut text-secondary text-2xl pb-2">Php {{product.price}}</p>
        
            <span class="text-[17px] pb-5">[Product Description!!]</span>
        
            <form method="post" action="/add-to-cart" id="add" class="flex flex-col item-left w-[100%]">
                <label for="quantity" class="add">Quantity</label>

                <input type="text" id="quantity" placeholder="0" class="add">

                <input type="hidden" id="p_id" value="{{product._id}}">
				
				<div class="relative mt-5">
 				   <button id="originalBtn" class="flex items-center w-auto h-12 px-4 bg-maincolor rounded-full text-white text-2xl font-Inika ml-auto mr-5">
 				       <img class="w-5 mr-2" src="../uploads/cart.png" alt="Cart Icon" />
    				    Add to Cart
    				</button>

    				<button id="hoverBtn" type="submit" class="w-auto h-12 px-4 pt-2 bg-white hidden border border-maincolor border-2 rounded-full text-maincolor text-2xl font-Inika ml-auto mr-5">
    				    <img class="w-5 mr-2 pt-1" src="../uploads/basket.png" alt="Cart Icon" />
    				    Add to Cart
   					</button>
				</div>
            </form>
            <p id="err"></p>                
        </div>

    </div>

</div>


			
	</div>
{{else}}
	<h1>No product found!</h1>
{{/if}}