<style>
        .regcontainer {
            margin: 0px;
            font-family: Arial, sans-serif;
            background: url('../uploads/cover.png') no-repeat center center fixed;
            background-size:auto;
            border: 1px solid black;
            background-color: #f0f0f0; /* Fallback color in case the image is not available */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: auto;
        }

        .reg-container {
            width: 300px;
            background: #fff;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .reg-title {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        .input-container {
            margin-bottom: 20px;
        }

        .input-container input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
            background: linear-gradient(to right, #ccc, #f0f0f0); /* Adjusted colors */
            box-sizing: border-box;
            color: #333;
        }

        .forgot-password {
            text-align: center;
            margin-bottom: 25px; /* Adjusted margin further */
            color: #333;
            font-size: 14px; /* Adjusted font size */
        }

        .reg-button {
            background: #0980D3;
            color: white;
            border: none;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
        }

        .signup-link {
            text-align: center;
            margin-top: 10px;
            color: #0980D3;
        }
    </style>

    <div class="regcontainer">
        <div class="reg-container">
            <div class="reg-title">REGISTER</div>
            <div class="input-container">
                <input type="text" id ="regfname" placeholder="First name">
                <input type="text" id ="reglname" placeholder="Last name">
                <input type="text" id ="regemail" placeholder="Email">
            </div>
            <div class="input-container">
                <input type="password" id= "regpassword" placeholder="Password">
            </div>
            <div class="input-container">
                <input type="text" id= "regline1" placeholder="Address line 1">
                <input type="text" id= "regline2" placeholder="Address line 2">
                <input type="text" id= "regcity" placeholder="City">
                <input type="text" id= "regstate" placeholder="State">
                <input type="text" id= "regpostalcode" placeholder="Postal Code">
            </div>
            <div id="errors"></div>
            <button id="regsubmit">Login</button>
            <div><a href='/login' class="signup-link">Have an account? Log in</a></div>
        </div>
    </div>

