	<form class="flex flex-row bg-maincolor py-2 px-4 rounded-3xl" id="search_inventory_query_box" action="/searchInventory" method="get">
		
		<input class="bg-maincolor text-white placeholder-white " type="text" placeholder="Search in inventory" name="product_query" id="product_query" required value={{buffer}} >
		<input type="hidden" id="sortBy" value="">
		<button class="bg-maincolor"type="submit" id="submitSearch"><img src="/./uploads/search.png"></button>
	</form>

	<style>
		#product_query:focus {
			border: 0px;
			outline: 0px;
		}
	</style>
	
