<div class="bg-maincolor max-w-7xl mx-auto rounded-lg p-5 mt-6 h-14">

    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex  items-center">
            <div class="flex space-x-20">
                <a href="#" class="text-white font-Inika">Welding</a>
                <a href="#" class="text-white font-Inika">Safety</a>
                <a href="#" class="text-white font-Inika">Cleaning</a>
                <a href="#" class="text-white font-Inika">Industrial</a>
                <a href="#" class="text-white font-Inika">Brass Fittings</a>
            </div>


            <div class="flex ml-auto">
                <img class="w-5 h-5 mr-2" src="../uploads/cart.png" />
                <a href="#" class="text-white font-Inika">My Cart</a>
            </div>


        </div>
    </div>

</div>