<div class="flex flex-row  max-w-xs ml-auto my-5 mr-5 ">
    <label for="sort" class="w-14 flex items-center text-sm font-medium text-gray-700">Sort by:</label>
    <select id="sort" name="sort" class=" w-40 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        <option value="def" selected>Default</option>
        <option value="price_asc" selected>Price (low to high)</option>
        <option value="price_desc">Price (high to low)</option>
        <option value="name_asc">Name (A to Z)</option>
        <option value="name_desc">Name (Z to A)</option>
    </select>
</div>

