<div class="ml-28 my-6">
    <div class="font-Inknut text-secondary text-4xl">
        Pearl Hardware
    </div>
    <div class="font-Inknut text-secondary">
        Welding and Safety Supply Inc.</div>
</div>