<style>
    .image-size {
        width: 100px;
        height: 100px;
    }
</style>


<div class="ml-28 my-6 flex">

    <div class=" top-0 left-0">
        <img src="../uploads/logo.png" class="image-size" alt="logo">
    </div>


    <div class="mt-4 ml-1">
        <div class="font-Inknut text-secondary text-4xl" id="title">
            Pearl Hardware
        </div>
        <div class="font-Inknut text-secondary">
            Welding and Safety Supply Inc.</div>
    </div>

</div>