		<div class="bg-maincolor w-[95%] h-[45px] flex flex-wrap items-center justify-start rounded-[10px_10px_0px_0px] mx-auto">
 	   		<div class="w-[202px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">First Name</div>
	    	<div class="w-[200px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Last Name</div>
	    	<div class="w-[250px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Email</div>
 	   		<div class="w-[150px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Date</div>
	    	<div class="w-[150px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Total Items</div>
			<div class="w-[180px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Status</div>
 	   		<div class="w-[170px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Amount</div>
 	   		<div class="w-[240px] font-Inknut text-white text-sm text-center border border-l-0 border-t-0 border-b-0 border-white">Paymongo ID</div>
			<div class="w-[170px] font-Inknut text-white text-sm text-center">Details</div>
		</div>
