<!DOCTYPE html>

<head>

    {{> adminHead}}
    <link rel="stylesheet" href="../css/output.css" />
    <script src="{{script}}" defer></script>
</head>

<body class="flex flex-col">

    <div class="flex flex-col mb-16">
        <div class="flex flex-row">

            <div class="ml-auto my-auto mr-16">

            </div> 
        </div>
        <!--{{> adminNavbar}}-->
        
  {{>adminHome}}


</body>

</html>
