<!DOCTYPE html>
    <head>

        {{> head}}

        <link rel="stylesheet" href="../css/tailwind_output.css" />
        
    </head>

    <body class="text-red-500">

        {{{body}}}
        

    </body>
</html>
