<!DOCTYPE html>

<head>

    {{> head}}


    <link rel="stylesheet" href="../css/output.css" />
    <script src="{{script}}" defer></script>
</head>

<body class="">

    {{{body}}}
    {{> footer}}

</body>

</html>