<!DOCTYPE html>

<head>

    {{> head}}


    <link rel="stylesheet" href="../css/output.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <script src="../js/index.js" defer></script>
</head>

<body class="">

    {{{body}}}


</body>

</html>