<!DOCTYPE html>
    <head>

        {{> head}}

        <link rel="stylesheet" href="../css/index.css" />
    </head>

    <body class="text-red-500">

        {{{body}}}
        <script src="{{script}}" defer></script>

    </body>
</html>
