{{> orders}}

<div class="flex space-x-0 my-10 mx-auto justify-center">
    <button id="prevPage" class="w-[120px] h-10 bg-maincolor text-white rounded-l-full hover:bg-white hover:border border-maincolor hover:text-maincolor focus:outline-none" data-index={{prevPage}}>PREV PAGE</button>
    <button id="nextPage" class="w-[120px] h-10 bg-maincolor text-white rounded-r-full hover:bg-white hover:border border-maincolor hover:text-maincolor focus:outline-none" data-index={{nextPage}}>NEXT PAGE</button>
</div>