
<div class=" mx-5 px-4 py-1 w-[98%] bg-white bg-opacity-80 shadow-md rounded-md ">
    
    <div class="flex flex-row ">
        <div class=" my-5 py-0 pl-2 border-b-4 border-b-maincolor font-Inika text-2xl w-48 ">All Products</div>

        {{> sort}}
    </div>
    
    {{> products}}
<div class="flex space-x-0 my-10 mx-auto justify-center">
    <button id="prevPage" class="w-[120px] h-10 bg-maincolor text-white rounded-l-full hover:bg-white hover:border-black hover:text-maincolor focus:outline-none">PREV PAGE</button>
    <button id="nextPage" class="w-[120px] h-10 bg-maincolor text-white rounded-r-full hover:bg-white hover:border hover:text-maincolor focus:outline-none">NEXT PAGE</button>
</div>

</div>

