    <div class="bg-white bg-opacity-80 p-1 rounded-md w-[98%] mx-auto my-auto" style="box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(0, 0, 0, 0.1);">
        <div class="bg-tertiary w-[50%] h-[315px] rounded-md mx-auto flex flex-col justify-center items-center p-8 my-10">
            <img class="w-auto h-[45%] mb-3" src="../uploads/check.png" alt="check Image">
            <h1 class="text-3xl font-bold text-maincolor mb-4">PAYMENT SUCCESS</h1>
            <p class="text-lg text-secondary">Your Order Number is: </p>
            <p class="text-lg text-secondary">[Order ID or Order Number]</p>
            <p class="text-lg text-secondary">Thank you for your purchase. Your payment was successful!</p>
        </div>
    </div>