<!-- 
    BEGINNING OF MAIN CONTAINER

-->

<div>
    {{> products}}

</div>

<div class="register">
    <h2> Register </h2>
    <label>Name</label>
    <input type="text" id = "regname">
    <label>Email</label>
    <input type="email" id="regemail">
    <label>Password</label>
    <input type="password" id="regpassword">
    <button type="submit" id="regsubmit">Submit</button>
</div>
<div id="errors"></div>
