<script>
document.addEventListener('DOMContentLoaded', function() {
    const dropdownButton = document.querySelectorAll('#dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    dropdownButton.forEach(button => {
  		button.addEventListener('click', (e) => {
    		const buttonIndex = Array.from(dropdownButton).indexOf(button);
    		const dropdownMenus = document.querySelectorAll('#dropdownMenu');

    		if (dropdownMenus && dropdownMenus.length > buttonIndex) {
      			const dropdownMenu = dropdownMenus[buttonIndex];
      			dropdownMenu.classList.toggle('hidden');
    		}
  		});
	});

    // Close the dropdown when clicking outside of it
    document.addEventListener('click', function(event) {
        if (!dropdownContainer.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
});

function selectOption(option) {
    const dropdownMenu = document.getElementById('dropdownMenu');
    const selectedOption = document.getElementById('selectedOption');

    dropdownMenu.classList.add('hidden');

	dropdownButton.textContent = option;
}
</script>

<div class="bg-white bg-opacity-80 p-1 rounded-md w-[98%] mx-auto my-auto" style="box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(0, 0, 0, 0.1); min-height: 850px">
    <div class="mx-10 my-5 py-0 pl-2 border-b-4 border-b-maincolor font-Inika text-2xl w-48" >Taylor Swift's</div>
    <div class="mx-10 pl-2 font-Inika text-5xl font-bold w-100 inline-block text-secondary">Purchase History</div>

    <div class="bg-maincolor my-8 w-[95%] h-[45px] flex flex-wrap items-center justify-start mx-auto rounded-[10px] font-bold text-white py-2 px-4 text-2xl">Purchased 10 November,  2023</div>

    <div class="flex justify-center">
        <div class="border-4 border-maincolor mt-6 p-4 w-[25%] mx-2">
            <div class="text-3xl font-Inika my-4 font-bold">Order Details</div>

            <div class="font-Inika text-maincolor font-bold text-xl mb-1">Contact Information</div>
            <div class="">Taylor Swift</div>
            <div class="mb-8">taylorSwift@gmail.com</div>

            <div class="font-Inika text-maincolor font-bold text-xl mb-1">Shipping Address</div>
            <div class="">Taylor Swift</div>
            <div class="">123 Nowhere St.</div>
            <div class="">Makati, Metro Manila</div>
            <div class="mb-8">Philippines</div>

            <div class="font-Inika text-maincolor font-bold text-xl mb-1">Billing Address</div>
            <div class="">Taylor Swift</div>
            <div class="">123 Nowhere St.</div>
            <div class="">Makati, Metro Manila</div>
            <div class="mb-3">Philippines</div>

        </div>

        <div class="border-4 border-maincolor mt-6 p-4 w-[45%] mx-2">
            <div class="text-3xl font-Inika my-4 mb-10 font-bold">Order Summary</div>
            
            <div class="flex items-center mb-6">
                <img src="./uploads/temp.png" alt="Product Image" class="w-20 h-20 mr-4">
                <div class="flex flex-col w-full">
                    <div class="flex items-center justify-between">
                        <div class="font-Inika text-secondary font-bold text-2xl">Brass GHC</div>
                        <div class="font-Inika font-bold text-2xl ml-auto">Php 300</div>
                    </div>
                    <div class="text-[#808080] font-Inika font-bold text-2xl">Quantity: x3</div>
                </div>
            </div>

            <div class="flex items-center mb-6">
                <img src="./uploads/temp.png" alt="Product Image" class="w-20 h-20 mr-4">
                <div class="flex flex-col w-full">
                    <div class="flex items-center justify-between">
                        <div class="font-Inika text-secondary font-bold text-2xl">2nd Brass GHC</div>
                        <div class="font-Inika font-bold text-2xl ml-auto">Php 100</div>
                    </div>
                    <div class="text-[#808080] font-Inika font-bold text-2xl">Quantity: x1</div>
                </div>
            </div>

             <div class="flex items-center mb-6">
                <img src="./uploads/temp.png" alt="Product Image" class="w-20 h-20 mr-4">
                <div class="flex flex-col w-full">
                    <div class="flex items-center justify-between">
                        <div class="font-Inika text-secondary font-bold text-2xl">Order ni Shanky</div>
                        <div class="font-Inika font-bold text-2xl ml-auto">Php 5000</div>
                    </div>
                    <div class="text-[#808080] font-Inika font-bold text-2xl">Quantity: x1</div>
                </div>
            </div>
        </div>
    </div>
</div>

