<!DOCTYPE html>

<head>

    {{> adminHead}}


    <link rel="stylesheet" href="../css/output.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <script src="{{script}}" defer></script>
</head>

<body class="flex flex-col">

    {{>navbar}}

      
    <div class="flex flex-col mb-16">
        <div class="flex flex-row">
            {{> title}}
            <div class="ml-auto my-auto mr-16">
                {{> search_inventory}}
				<script>
					window.onload = function() {
						var urlSearchParams = new URLSearchParams(window.location.search);
					};
					var currentUrl = window.location.pathname.split("/");
					console.log(currentUrl[1]);
					const searchbox = document.querySelector('#search_inventory_query_box');
					const searchboxText = document.querySelector('#product_query');
					if(currentUrl[1] == "userpurchases" || currentUrl[1] == "userSearchPurchases" || currentUrl[1] == "userorderdetails"){
						searchbox.action = "/userSearchPurchases";
						searchboxText.placeholder = "Search for order ID";
					}
				</script>
                
            </div> 
        </div>
        {{> userOrdersNavbar}}
        {{{body}}}
    </div>

</body>

</html>