<div class=" w-[98%] h-screen bg-cover mx-auto p-5"
    style="background-image: url('../uploads/AdminBG.png'); box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(0, 0, 0, 0.1);">

    <div class="mx-auto my-[250px]  w-[50%] bg-white bg-opacity-80 p-5  rounded-md shadow-md">
        <!-- Your admin content goes here -->
        <div class="font-Inknut text-secondary text-center text-6xl mt-5">Pearl Hardware</div>
        <div class="font-Inknut text-secondary text-center text-2xl mb-10">Welding and Safety Supply Inc.</div>
        <div class=" font-Inika text-6xl font-bold text-center text-maincolor mb-4">Admin Dashboard</div>
        <div class=" font-Inika text-2xl text-secondary text-center mb-8">Welcome to the admin dashboard. Manage your
            resources efficiently.</div>
        <div class="grid grid-cols-2 gap-4">



            <div class="mx-auto  ">

                <form action="/adminCategory/allOrders" method="GET">
                    <button type="submit"
                        class="w-auto h-12 px-4 bg-maincolor {{#if (eq category 'allorders')}}bg-white text-maincolor{{else}}hover:bg-white hover:pt-2 hover:text-maincolor text-white{{/if}} text-white hover:bg-white hover:text-maincolor hover:border border-1-maincolor rounded-lg hover:pt-0 text-2xl font-Inika">
                        Manage Orders
                    </button>
                </form>


            </div>

            <div class="mx-auto">
                <form action="/adminInventory/allproducts" method="GET">
                    <button
                        class="w-auto h-12 px-4 bg-maincolor text-white hover:bg-white hover:text-maincolor hover:border border-1-maincolor rounded-lg hover:pt-0 text-2xl font-Inika">
                        Manage Inventory
                    </button>
                </form>
            </div>


            <div class="mx-auto">
                <form action="/salestracker" method="GET">

                <button class="w-auto h-12 px-4 bg-maincolor text-white hover:bg-white hover:text-maincolor hover:border border-1-maincolor rounded-lg hover:pt-0 text-2xl font-Inika">
                     Sales Tracker
                </button>

                </form>
                
            </div>
        </div>
    </div>
</div>