<div class=" mx-5 px-4 py-1 w-[98%] bg-white bg-opacity-80 shadow-md rounded-md ">

   <div class="flex flex-row ">
        <div class=" my-5 py-0 pl-2 border-b-4 border-b-maincolor font-Inika text-2xl w-48 ">Bundles</div>

    </div>


	
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-8  mb-5">

        <a href="/bundledescription">
		<div class="bg-tertiary rounded shadow p-4 hover:bg-white hover:border hover:text-maincolor">
			<img class="h-44 w-44 mx-auto object-cover" src=../uploads/temp.png alt="Product Image">
			<h2 class="text-xl font-semibold mt-2 text-center">Cleaning Supplies Bundle</h2> 
			<p class="text-center mt-1">&#8369; 1000</p>	
		</div>
	</a>

    </div>

</div>

