<div
    class="container flex flex-col items-center justify-center mx-auto w-96 mt-12 p-5 border border-4 border-maincolor rounded-3xl">
    <div class="w-[300px] p-8 shadow-md text-center rounded">
        <div class="font-Inknut text-secondary text-2xl mb-10">REGISTER</div>
        <div>
            <input type="text" id="regfname" class="w-full px-10 py-2 mb-10 border-none rounded-lg bg-tertiary"
                placeholder="First name">
            <input type="text" id="reglname" class="w-full px-10 py-2 mb-10 border-none rounded-lg bg-tertiary"
                placeholder="Last name">
            <input type="text" id="regemail" class="w-full px-10 py-2 mb-10 border-none rounded-lg bg-tertiary"
                placeholder="Email">
            <input type="password" id="regpassword" class="w-full px-10 py-2 mb-10 border-none rounded-lg bg-tertiary"
                placeholder="Password">
            <input type="text" id="regline1" class="w-full px-10 py-2 mb-10 border-none rounded-lg bg-tertiary"
                placeholder="Address line 1">
            <input type="text" id="regline2" class="w-full px-10 py-2 mb-10 border-none rounded-lg bg-tertiary"
                placeholder="Address line 2">
            <input type="text" id="regcity" class="w-full px-10 py-2 mb-10 border-none rounded-lg bg-tertiary"
                placeholder="City">
            <input type="text" id="regstate" class="w-full px-10 py-2 mb-10 border-none rounded-lg bg-tertiary"
                placeholder="State">
            <input type="text" id="regpostalcode" class="w-full px-10 py-2 mb-10 border-none rounded-lg bg-tertiary"
                placeholder="Postal Code">
        </div>

        <div id="errors"></div>
        <button id="regsubmit"
            class="rounded hover:bg-maincolor hover:pt-0 hover:text-white  text-maincolor text-lg font-Inika font-bold">Login</button>
        <div><a href='/login'
                class="rounded hover:bg-maincolor hover:pt-0 hover:text-white  text-maincolor text-lg font-Inika font-bold">Have
                an account? Log in</a></div>

    </div>


</div>